.card{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid green;
    min-height: 250px;
    padding-: 10px;
    margin: 10px;
}

img{
    border-radius: 50%;
    width: 70px;
    margin: 10px;
}

h1{
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -70px;
}

p{
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}

#mainbox{
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}