<link rel="stylesheet" type="text/css" href="https://bootswatch.com/simplex/bootstrap.min.css">



    <span *ngFor="let repo of repoDetails">



     <div  class="col-md-4" *ngFor="let more of repo">



    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{more.name}}</h3>
        </div>
        <div class="panel-body">
          {{more.swaggerUrl}}
             <a href="http://localhost:8084/swagger-ui/index.html?url={{more.swaggerUrl}}"><h1>{{more.name}}</h1></a>
        </div>
    </div>

    </div>

    </span>







