<link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css">


<div class="col-md-4" *ngFor="let repo of repoDetails">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><span><i class="glyphicon glyphicon glyphicon-dashboard" aria-hidden="true"></i></span>
                {{repo[0].name}}</h3>
        </div>
        <div class="panel-body">
            <p>
                <b>Group Id :</b> {{repo[0].groupId}}
            </p>
            <p>

                <b> Description :</b> {{repo[0].description}}
            </p>

                <select [(ngModel)]="selected">

                    <option *ngFor="let apiUrls of repo" value="{{apiUrls.swaggerUrl}}">
                      {{apiUrls.host}} : {{apiUrls.port}}
                    </option>

                </select>


            <button type="button" (click)="redirectClick('http://'+repo[0].host+':'+repo[0].port+repo[0].swaggerUrl)"
                    class="btn btn-info navbar-right button-padding">Swagger Docs
            </button>
        </div>
    </div>


</div>







